@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-outline-variant;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-on-background antialiased;
    font-family: "Geist", sans-serif;
  }
}

@layer utilities {
  .mono {
    font-family: "Geist", monospace;
  }
}
